<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="column">
    <%= f.input :orderer_name , label: '订花人'%>
    <%= f.input :orderer_phone , label: '订花人电话'%>
    <%= f.input :planned_delivery_datetime , :as => :string, label: '预定送花时间'%>
    <%= f.input :handler , label: '经手人'%>
    <%= f.input :money_received , label: '订单已收金额'%>
    </div>
    <div class="column">
    <%= f.input :receiver_name , label: '收花人'%>
    <%= f.input :receiver_phone, label: '收花人电话' %>
    <%= f.input :receiver_address , :as=>:string, label: '收花人地址'%>
    <%= f.input :order_status , label: '订单状态'%>
    <%= f.input :product_name , label: '产品名'%>
    <%= f.input :remark , label: '备注'%>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit  , '下单'%>
  </div>
<% end %>

<%= content_for :page_script do %>
  <script>    
    $(function(){
    /* Initialize Datepicker */
    $.datetimepicker.setLocale('zh');
      $('#order_planned_delivery_datetime').datetimepicker({
        i18n:{
          zh:{
           months:[
            '一月','二月','三月','四月',
            '五月','六月','七月','八月',
            '九月','十月','十一月','十二月',
           ],
           dayOfWeek:[
            "日", "一", "二", "三", 
            "四", "五", "六",
           ]
          }
         }
      });
      
      /*defautl "订花人" to "顾客名称"*/
      
    });
  </script>
<% end %>
