<p id="notice"><%= notice %></p>

<h1>订单列表</h1>
<%= link_to '新建订单', new_order_path, :class =>'button'%>
<table id="orders_table">
  <thead>
    <tr>
      <th>下单日期</th>
      <th>订花人</th>
      <th>Tel</th>
      <th>送花时间</th>
      <th>收花人</th>
      <th>Tel</th>
      <th>收花人地址</th>
      <th>订单状态</th>
      <th>产品名称</th>
      <th>经手人</th>
      <th>订单已收金额</th>
      <th>订单操作</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.in_time_zone.strftime '%y.%m.%d' %></td>
        <td><%= order.orderer_name %></td>
        <td style="text-align:center;"><a class="phone-label" href="void:javascript(0);" title="<%= order.orderer_phone %>"><i class="fa fa-phone" ></i></a></td>
        <td><%= (order.planned_delivery_datetime.nil?)? 'TBD' : (order.planned_delivery_datetime.in_time_zone.strftime '%y.%m.%d %p') %></td>
        <td><%= order.receiver_name %></td>
        <td  style="text-align:center;"><a class="phone-label" href="void:javascript(0);" title="<%= order.receiver_phone %>"><i class="fa fa-phone btn" ></i></a></td>
        <td><%= order.receiver_address %></td>
        <td><%= order.order_status %></td>
        <td><%= order.product_name %></td>
        <td><%= order.handler %></td>
        <td><%= order.money_received %></td>
       <td><%= link_to '显示详情', order %>
       <%= link_to '修改', edit_order_path(order) %>
       <%= link_to '删除', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% content_for :page_script do %>
  <script>
    $(document).ready(function(){
      $('#orders_table').DataTable({
        searching:true,
        paging:true,
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        responsive:true
      });
    });
    $('.phone-label').tooltip()
    // $('.phone-label').on('hover',function(e){
    //   $(e.target).tooltip('show');
    // });
  </script>
<% end %>
