<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Orderer name</th>
      <th>Orderer phone</th>
      <th>Planned delivery datetime</th>
      <th>Receiver name</th>
      <th>Receiver phone</th>
      <th>Receiver address</th>
      <th>Order status</th>
      <th>Product name</th>
      <th>Remark</th>
      <th>Handler</th>
      <th>Money received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= order.orderer_name %></td>
        <td><%= order.orderer_phone %></td>
        <td><%= order.planned_delivery_datetime %></td>
        <td><%= order.receiver_name %></td>
        <td><%= order.receiver_phone %></td>
        <td><%= order.receiver_address %></td>
        <td><%= order.order_status %></td>
        <td><%= order.product_name %></td>
        <td><%= order.remark %></td>
        <td><%= order.handler %></td>
        <td><%= order.money_received %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
