<p id="notice"><%= notice %></p>
<p>
  <strong>下单日期:</strong>
  <%= @order.created_at.in_time_zone.strftime '%y-%m-%d %H:%M' %>
</p>

<p>
  <strong>订花人姓名:</strong>
  <%= @order.orderer_name %>
</p>

<p>
  <strong>订花人电话:</strong>
  <%= @order.orderer_phone %>
</p>

<p>
  <strong>计划送花时间:</strong>
  <%= @order.planned_delivery_datetime.in_time_zone.strftime '%y-%m-%d %H:%I' %>
</p>

<p>
  <strong>收花人姓名:</strong>
  <%= @order.receiver_name %>
</p>

<p>
  <strong>收花人电话:</strong>
  <%= @order.receiver_phone %>
</p>

<p>
  <strong>收花人地址:</strong>
  <%= @order.receiver_address %>
</p>

<p>
  <strong>订单状态:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>产品名:</strong>
  <%= @order.product_name %>
</p>

<p>
  <strong>备注:</strong>
  <%= @order.remark %>
</p>

<p>
  <strong>经手人:</strong>
  <%= @order.handler %>
</p>

<p>
  <strong>订单已收金额:</strong>
  <%= @order.money_received %>
</p>

<%= link_to '修改', edit_order_path(@order) %> |
<%= link_to '返回', orders_path %>
